.homebody {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    overflow-x: hidden;
}

.firstdiv {
    background-image: url("./../assets/back1.jpg");
    background-repeat: no-repeat;
}

.firstdivhow {
    background-image: url("./../assets//Become\ Partner/A.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin-top: -40px;
}

.bouncingwrap {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: -180px;
}

.watchvideodiv {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    padding: 20px;
    color: white;
    align-items: center;
    cursor: pointer;
    position: absolute;
}

.powerbank {
    background-color: white;
    line-height: 33px;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.wrapperdefault {
    width: 400px;
    height: 267px;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
}

.wrapmaxresdefault {
    height: 550px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.wrapmaxresdefault:hover .maxresdefault {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

.wrapmaxresdefault:hover .watchvideodiv {
    display: flex;
    justify-content: center;
    border: 0px solid white;
    padding: 20px;
    color: white;
    background-color: black;
    align-items: center;
    position: absolute;
}

.maxresdefault {
    height: 100%;
    width: 100%;
    transition: all 4s ease;
    position: relative;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}




.howittext {
    margin-top: 0px;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 80px;
    line-height: 72px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.howitworkswrap {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 300px;
    position: absolute;
    z-index: 5;
}

.imageslide1 {
    background-image: url("./../assets/slide1.png");
    width: 300px;
}

.imageslide2 {
    background-image: url("./../assets/slider2.png");
}

.imageslide3 {
    background-image: url("./../assets/slider3.png");
}

.bounce {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: silver;
    margin-top: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 2s infinite alternate;
    cursor: pointer;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

@-webkit-keyframes image {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-55px);
    }
}

.backdrop {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.backdrop img {
    height: 150px;
    animation: bounce2 1s infinite alternate;
    -webkit-animation: bounce2 1s infinite alternate;
}

@keyframes bounce2 {
    from {
        height: 150px;
    }

    to {
        height: 180px;
    }
}



.headerdiv {
    font-family: 'Muli';
    z-index: 6;
    width: 100%;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    font-size: 13px;
    padding: 30px 5px;
    font-weight: 400;
    position: fixed;
    animation: headerin 1s ease;
    letter-spacing: 0.3vh;
    display: flex;
}

@keyframes headerin {
    from {
        padding: 5px;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    }

    to {
        padding: 30px 5px;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    }
}


.headerdivscrolldown {
    font-family: 'Muli';
    z-index: 6;
    width: 100%;
    font-size: 13px;
    padding: 10px;
    font-weight: 400;
    position: fixed;
    background-color: black;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    letter-spacing: 0.3vh;
    animation: headerout 1s ease;
    display: flex;
}

@keyframes headerout {
    from {
        padding: 30px 5px;
        background-color: silver;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    }

    to {
        padding: 10px;
        background-color: black;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    }
}

.hoverunderlineanimation {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: white;
    margin: 10px;
}

.hoverunderlineanimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverunderlineanimation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.headerimageparent {
    width: 27%;
}

.languagediv {
    border: 1px solid white;
    color: white;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px 10px;
    margin-left: 30px;
}

.getappbutton {
    color: white;
    padding: 20px 25px;
    background-color: black;
    top: 0px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    animation: appout 1s ease-in;
}

@keyframes appout {
    from {
        right: 30px;
        top: 20px;
    }

    to {
        top: 0px;
        right: 5px;
    }
}

.getappbuttondown {
    color: white;
    padding: 20px 25px;
    background-color: black;
    top: 20px;
    position: absolute;
    cursor: pointer;
    animation: appin 1s ease;
    right: 30px;
}

@keyframes appin {
    from {
        top: 0px;
        right: 5px;
    }

    to {
        right: 30px;
        top: 20px;
    }
}

.getappbutton:hover {
    background-color: rgb(85, 84, 84);
}

.nomoretext {
    font-size: 80px;
    color: #430f0f;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 100px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.nomoretext2 {
    font-size: 80px;
    color: #430f0f;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 200px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.nomoretextbelow {
    font-size: 40px;
    color: #430f0f;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 300px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.nomoretextbelow2 {
    font-size: 40px;
    color: #430f0f;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 350px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.applogosparent {
    display: flex;
    margin-top: 40px;
}

.getapphow {
    background-color: white;
    padding-top: 100px;
    height: 500px;
    padding-bottom: 100px;
}

.scantext {
    font-size: 30px;
    line-height: 33px;
    font-weight: 500;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.getapphow2 {
    background-color: white;
    padding-top: 20px;
    height: 500px;
    padding-bottom: 20px;
}

.applogosparent2 {
    display: flex;
    margin-top: 50px;
}

.wrapappdiv {
    width: 70%;
    margin: auto;
}

.iphonelogo {
    margin-right: 30px;
    cursor: pointer;
}

.googlelogo {
    cursor: pointer;
}

.floatrightdiv {
    position: absolute;
    right: 5%;
    top: 200px;
}


.middlehomediv {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white);
    margin-top: 0px;
    padding-top: 20px;
}

.homephone {
    padding-top: 150px;
    padding-left: 10%;
}

.homephoneslider {
    position: absolute;
    padding-top: 220px;
    padding-left: 12%;
}

h1,
.iplugdescriptionleft {
    width: 30%;
}

h1 {
    animation: right_to_left 3s ease;
}

.iplugdescriptionleft {
    text-align: left;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 41px;
    width: 30%;
    margin-left: 5%;
    animation: left_to_right 3s ease;
}

.iplugdescriptionleftout {
    text-align: left;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 41px;
    width: 30%;
    margin-left: -30%;
    animation: right_to_leftout 3s ease;
}

.rightfixedimage {
    /* right image zoom in*/
    transition: width 2s;
    animation: left_to_rightt 3s ease;
    position: absolute;
    right: 10%;
    height: 300px;
    width: 400px;
}

.rightfixedimagehow {
    /* right image zoom in*/
    transition: width 2s;
    animation: left_to_rightt 3s ease;
    position: absolute;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 41px;
    right: 10%;
    height: 400px;
    width: 450px;
}

.rightfixedimageout {
    /* right image zoom out*/
    transition: width 2s;
    animation: rightfixedimageoutzoom 3s ease;
    position: absolute;
    right: 10%;
    width: 0px;
    height: 300px;
}

.rightfixedimageouthow {
    /* right image zoom out*/
    transition: width 2s;
    animation: rightfixedimageoutzoom 3s ease;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 41px;
    position: absolute;
    right: 10%;
    width: 0px;
    height: 400px;

}

.rightfixedimage2 {
    /* right image two zoom in*/
    transition: width 2s;
    animation: rightfixedimage2in 3s ease;
    position: absolute;
    right: 30%;
    height: 300px;
    width: 350px;
    margin-top: 180px;
    z-index: 5;
}

.rightfixedimage2out {
    /* right image two zoom out*/
    transition: width 2s;
    animation: rightfixedimage2outzoom 3s ease;
    position: absolute;
    right: 30%;
    width: 0px;
    height: 300px;
    margin-top: 180px;
    z-index: 5;
}


.discoverbutton {
    background-color: black;
    padding: 20px 5px;
    font-size: 14px;
    width: 60%;
    color: white;
    font-weight: 400;
    font-family: 'Muli';
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.discoverbutton:hover {
    background-color: rgb(121, 120, 120);
}

.bottomdivimageswrap {
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 3% 10%;
    overflow-x: hidden;
    display: flex;
}

.bottomhomediv {
    background-image: url("./../assets/bottomback.jpg");
    background-repeat: no-repeat;
}

.scrollbottomomediv {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 500px;
    margin: 0 auto;
}

.scrollbottomomediv::-webkit-scrollbar {
    display: none;
}

.imgwrapperimageone {
    width: 500px;
    transition: all .8s ease;
    margin: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    animation: buttomimagebottomtotop 3s ease;
    background-image: url("../assets/how.jpg");
}

.imgwrapperimageone:hover {
    transform: scale(1.1)
}

.imgwrapperimagetwo {
    width: 500px;
    transition: all .8s ease;
    vertical-align: middle;
    margin: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    animation: buttomimagebottomtotop 3s ease;
    background-image: url("../assets/rate.jpg");
}

@keyframes buttomimagebottomtotop {
    from {
        height: 0px;
        margin-bottom: -30%;
    }

    to {
        height: 400px;
        margin-bottom: 0%;
    }
}

.sociallinkdiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}



.gettheappdiv {
    height: 250px;
    margin-top: 50px;
    width: 40%;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(146, 137, 137));
    margin-left: 10%;
    margin-bottom: 200px;
}

.getappdivtext {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    margin-top: 50px;
    font-size: 45px;
    color: white
}

.imgwrapperimagetwo:hover {
    transform: scale(1.1);
}

.wrapimagebuttondescription {
    margin-top: 45%;
    padding-top: 50px;
}


.imagebuttondescription {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 500;
    font-size: 25px;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    color: white;
    transition: margin-top ease 1s;
}

.wrapimagebuttondescription:hover>.imagebuttondescription {
    margin-top: -50px;
}


.morebutton {
    visibility: hidden;
}


.wrapimagebuttondescription:hover .morebutton {
    visibility: visible;
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: black;
    color: white;
}




.almostbottomdiv {
    background-color: white;
    padding-top: 20px;
}

.bottomdivfooter {
    background-color: black;
    width: 100%;
    position: absolute;
    height: 200px;
    padding: 50px 0px 10px 0px;
    animation: buttomfooterbottomtotop 3s ease;
}

@keyframes buttomfooterbottomtotop {
    from {
        padding-top: 200px;
    }

    to {
        padding-top: 50px;
    }
}

.bottomdivfooterout {
    background-color: black;
    width: 100%;
    padding: 50px 0px;
    animation: buttomfootertoptobottom 3s ease;
}

@keyframes buttomfootertoptobottom {
    from {
        padding-top: 50px;
    }

    to {
        padding-top: 200px;

    }
}

.wrapcontents {
    display: flex;
    width: 90%;
    margin: auto;
}

.footercontents {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 400px;
    font-size: 20px;
}

.footercontentone {
    width: 30%;
}

.footercontentonetext {
    color: white;
}

.sociallinks {
    display: flex;
}

.footercontentlast {
    position: absolute;
    right: 10%;
}

.footercontentonemail {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 14px;
}

.footerreserved {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 12px;
}

.footerreservedbuttons {
    background-color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-weight: 300;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
}


@keyframes right_to_left {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
}

@keyframes left_to_right {
    from {
        margin-left: -30%;
    }

    to {
        margin-left: 5%;
    }
}

@keyframes right_to_leftout {
    from {
        margin-left: 5%;
    }

    to {
        margin-left: -30%;
    }
}


@keyframes left_to_rightt {
    from {
        margin-left: 40%;
        width: 0px;
    }

    to {
        margin-left: 60%;
        width: 450px;
    }
}

@keyframes rightfixedimage2in {
    from {
        margin-left: 40%;
        width: 0px;
    }

    to {
        margin-left: 60%;
        width: 350px;
    }
}

@keyframes rightfixedimageoutzoom {
    from {
        margin-left: 60%;
        width: 450px;
    }

    to {
        margin-left: 40%;
        width: 0px;

    }
}

@keyframes rightfixedimage2outzoom {
    from {
        margin-left: 60%;
        width: 350px;
    }

    to {
        margin-left: 40%;
        width: 0px;

    }
}

/* mobile view styling*/
@media screen and (max-width: 780px) {
    .firstdivhow {
        background-image: url("./../assets//Become\ Partner/A.jpg");
        background-repeat: no-repeat;
        height: 380px;
        background-size: cover;
        margin-top: -40px;
    }
}