@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    /* --primarycolor: #900f20; */
    --primarycolor: #000;
    --white: #ffffff;
    --black: #000;
}

/* body { background-color: var(--blue); } */

.homebody {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    overflow-x: hidden;
}

.viewworkbutton {
    background-color: var(--primarycolor);
    color: var(--white);
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
   
    border: none;
}

.containerwithshadowflex {
    box-shadow: 1px 2px 6px #c7c6c6;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.containerwithshadowwithoutflex {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.qualitydiv {
    box-shadow: 1px 2px 6px #c7c6c6;
    padding: 10px 30px;
    margin: 0% 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 20%;
}

.containerwithshadow {
    box-shadow: 1px 2px 6px #c7c6c6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

}

.midicon {
    background-color: var(--primarycolor);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualityname {
    font-size: 20px;
   
    font-weight: 800;
    margin-top: 10px;
}

.wrapyears {
    display: flex;
}

.wrapyearnumber {
    background-color: var(--primarycolor);
    color: var(--white);
    font-weight: 800;
   
    font-size: 45px;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapyearplus {
    color: var(--primarycolor);
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 45px;
    align-items: center;
}

.yearsname {
    color: var(--primarycolor);
    font-weight: 800;
   
    font-size: 23px;
}

.homeaboutyear {
    width: 20%;
    margin: 0% 1%;

}

.homeabouttextdiv {
    width: 37%;
    margin: 0% 1%;
}

.homeabouttext {
    font-size: 20px;
   
}

.homeabouttextcompanyname {
    font-size: 30px;
    font-weight: 900;
   
}

.homeabouttextcompanydesc {
    font-size: 16px;
   
}

.whatwedowrap {
    height: 180px;
    width: 18%;
    margin: 0% 1%;
}

.whatwedoimage {
    height: 80%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.whatwedotext {
    font-size: 15px;
    font-weight: 900;
    margin-top: 5px;
   
}

.currentworkimage {
    height: 200px;
    width: 48%;
    margin: 1% 1%;
    border-radius: 15px;
}

.middivshadownoflex {
    box-shadow: 1px 2px 6px #c7c6c6;
    padding-left: 5%;
    padding-right: 5%;
    width: 70%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.previousprojectdesc {
    font-size: 16px;
   
}

.projectprevdiv {
    width: 30%;
    margin: 1%;
}

.projectprevdivimage {
    width: 68%;
    margin: 1%;
}

.fleximage {
    height: 200px;
}

.counterdivwrap {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
}

.counterimagewrap {
    width: 40%;
}

.counterimage {
    margin-top: 2%;
}

.wrapcounterwhole {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapcounter {
    display: flex;
    width: 95%;
    margin: auto;
}

.projectscounter {
    display: flex;
    width: 20%;
    position: relative;
}

.projectscounterfirst {
    background-color: silver;
    height: 80px;
    width: 60%;
}
.employeescounterfirst {
    background-color: rgb(201, 206, 252);
    height: 80px;
    width: 60%;
}
.awardscounterfirst {
    background-color: silver;
    height: 80px;
    width: 60%;
}
.clientscounterfirst {
    background-color: rgb(204, 146, 146);
    height: 80px;
    width: 60%;
}

.projectscountersecond {
    background-color: white;
    height: 80px;
    width: 60%;
}

.projectscountertext {
    position: absolute;
    align-self: center;
    padding: 0px 10px;
}

.projectscountertextnumber {
    font-weight: 900;
    font-size: 30px;
}

.projectscountertextname {
    font-weight: 800;
    font-size: 20px;
}
.testimonialdiv{
    box-shadow: 1px 2px 6px #c7c6c6;
}
.testimonialchild{
    height: 200px;
}
.testimonialreview{
    font-size: 16px;
    text-align: center;
   
}
.testimonialname{
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
   
}
.myswiper{
    width: 90%;
    margin: auto;
}
.partnerimage{
    height: 80px;
   
}
.ourpartnersdiv{
    margin-top: 50px;
}
.partnerdivwrap{
    justify-content: center;
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 200px;
}











.imagebuttondescription {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
   
    font-weight: 500;
    font-size: 25px;
    background-image: linear-gradient(to top, rgba(126, 118, 118, 0), rgb(17, 16, 16)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    color: white;
}

.wrapmaxresdefault2 {
    width: 500px;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.howitworks:hover .imagebuttondescription {
    animation: move-up 3s ease;
}

@keyframes move-up {
    from {
        margin-top: 30px;
    }

    to {
        margin-top: 0px;
    }
}

.wrapmaxresdefault2:hover .maxresdefault2 {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

.howitworks {
    padding-top: 20px;
    position: absolute;
    width: 90%;
    bottom: 30px;
}



.maxresdefault2 {
    height: 100%;
    width: 100%;
    transition: all 4s ease;
    position: relative;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


.morebutton {
    visibility: hidden;
}


.howitworks:hover .morebutton {
    visibility: visible;
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: black;
    color: white;
}

.firstdiv {
    /* background-image: url("./../assets/home/imageonedesk.jpg"); */
    background-color: white;
    background-repeat: no-repeat;
}

.firstdivhow {
    background-image: url("./../assets/home/imageone.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin-top: -40px;
}

.bouncingwrap {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: -180px;
}

.watchvideodiv {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    padding: 20px;
    color: white;
    align-items: center;
    cursor: pointer;
    position: absolute;
}


.wrapperdefault {
    width: 400px;
    height: 267px;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
}

.wrapmaxresdefault {
    height: 550px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.wrapmaxresdefault:hover .maxresdefault {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

.wrapmaxresdefault:hover .watchvideodiv {
    display: flex;
    justify-content: center;
    border: 0px solid white;
    padding: 20px;
    color: white;
    background-color: black;
    align-items: center;
    position: absolute;
}

.maxresdefault {
    height: 100%;
    width: 100%;
    transition: all 4s ease;
    position: relative;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}




.howittext {
    margin-top: 30px;
    color: black;
    font-weight: 500;
    font-size: 80px;
    line-height: 72px;
   
}

.howitworkswrap {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 300px;
    position: absolute;
    z-index: 5;
}

.imageslide1 {
    background-image: url("./../assets/home/imageone.jpg");
    width: 300px;
}

.imageslide2 {
    background-image: url("./../assets/home/imageone.jpg");
}

.imageslide3 {
    background-image: url("./../assets/home/imageone.jpg");
}

.bounce {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: silver;
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s infinite alternate;
    -webkit-animation: bounce 2s infinite alternate;
    cursor: pointer;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-20px);
    }
}

@-webkit-keyframes image {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-55px);
    }
}

.backdrop {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.backdrop img {
    height: 150px;
    animation: bounce2 1s infinite alternate;
    -webkit-animation: bounce2 1s infinite alternate;
}

@keyframes bounce2 {
    from {
        height: 150px;
    }

    to {
        height: 180px;
    }
}



.headerdiv {
    font-family: 'Muli';
    z-index: 6;
    width: 100%;
    background-image: linear-gradient(to top, rgba(221, 196, 196, 0), rgb(44, 41, 41));
    font-size: 13px;
    padding: 30px 5px;
    font-weight: 400;
    position: fixed;
    animation: headerin 1s ease;
    letter-spacing: 0.3vh;
    display: flex;
}

@keyframes headerin {
    from {
        padding: 5px;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    }

    to {
        padding: 30px 5px;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    }
}


.headerdivscrolldown {
    font-family: 'Muli';
    z-index: 6;
    width: 100%;
    font-size: 13px;
    padding: 10px;
    font-weight: 400;
    position: fixed;
    background-color: black;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    letter-spacing: 0.3vh;
    animation: headerout 1s ease;
    display: flex;
}

@keyframes headerout {
    from {
        padding: 30px 5px;
        background-color: silver;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(77, 73, 73));
    }

    to {
        padding: 10px;
        background-color: black;
        background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(20, 19, 19)), linear-gradient(to bottom, rgba(214, 209, 209, 0), rgb(20, 20, 20));
    }
}

.hoverunderlineanimation {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--primarycolor);
    margin: 10px;
}

.hoverunderlineanimationup {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: var(--white);
    margin: 10px;
}

.hoverunderlineanimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hoverunderlineanimation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.headerimageparent {
    width: 27%;
   
    font-size: 25px;
    font-weight: 100;
    color: white;
    display: flex;
}

.languagediv {
    border: 1px solid white;
    color: white;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 0px 10px;
    margin-left: 30px;
}

.getappbutton {
    color: white;
    padding: 20px 25px;
    background-color: black;
    top: 0px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    animation: appout 1s ease-in;
}

@keyframes appout {
    from {
        right: 30px;
        top: 20px;
    }

    to {
        top: 0px;
        right: 5px;
    }
}

.getappbuttondown {
    color: white;
    padding: 20px 25px;
    background-color: black;
    top: 20px;
    position: absolute;
    cursor: pointer;
    animation: appin 1s ease;
    right: 30px;
}

@keyframes appin {
    from {
        top: 0px;
        right: 5px;
    }

    to {
        right: 30px;
        top: 20px;
    }
}

.getappbutton:hover {
    background-color: rgb(85, 84, 84);
}

.nomoretext {
    font-size: 80px;
    color: black;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 100px;
   
}

.nomoretext2 {
    font-size: 80px;
    color: black;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 200px;
   
}

.nomoretextbelow {
    font-size: 40px;
    color: black;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 300px;
   
}

.nomoretextbelow2 {
    font-size: 40px;
    color: black;
    font-weight: 400;
    position: absolute;
    right: 5%;
    top: 350px;
   
}

.applogosparent {
    position: absolute;
    right: 5%;
    top: 450px;
    display: flex;
}

.applogosparent2 {
    display: flex;
    margin-top: 50px;
}

.wrapappdiv {
    width: 70%;
    margin: auto;
}

.iphonelogo {
    margin-right: 30px;
    cursor: pointer;
}

.googlelogo {
    cursor: pointer;
}

.floatrightdiv {
    position: absolute;
    right: 5%;
    top: 200px;
}


.middlehomediv {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white);
    margin-top: 0px;
    padding-top: 20px;
}

.homephone {
    padding-top: 150px;
    padding-left: 5%;
}

.homephoneslider {
    position: absolute;
    padding-top: 220px;
    padding-left: 12%;
}

h1,
.iplugdescriptionleft {
    width: 30%;
}

h1 {
    animation: right_to_left 3s ease;
}

.iplugdescriptionleft {
    text-align: left;
   
    font-weight: 500;
    width: 30%;
    font-size: 23px;
    margin-left: 5%;
    color: black;
    animation: left_to_right 3s ease;
}

.iplugdescriptionleftout {
    color: black;
    text-align: left;
   
    font-weight: 500;
    font-size: 23px;
    width: 30%;
    margin-left: -30%;
    animation: right_to_leftout 3s ease;
}

.rightfixedimage {
    /* right image zoom in*/
    transition: width 2s;
    animation: left_to_rightt 3s ease;
    position: absolute;
    right: 10%;
    height: 300px;
    width: 400px;
}

.rightfixedimagehow {
    /* right image zoom in*/
    transition: width 2s;
    animation: left_to_rightt 3s ease;
    position: absolute;
    right: 10%;
    height: 400px;
    width: 450px;
}

.rightfixedimageout {
    /* right image zoom out*/
    transition: width 2s;
    animation: rightfixedimageoutzoom 3s ease;
    position: absolute;
    right: 10%;
    width: 0px;
    height: 300px;
}

.rightfixedimageouthow {
    /* right image zoom out*/
    transition: width 2s;
    animation: rightfixedimageoutzoom 3s ease;
    position: absolute;
    right: 10%;
    width: 0px;
    height: 400px;

}

.rightfixedimage2 {
    /* right image two zoom in*/
    transition: width 2s;
    animation: rightfixedimage2in 3s ease;
    position: absolute;
    right: 30%;
    height: 250px;
    width: 350px;
    margin-top: 180px;
    z-index: 5;
}

.rightfixedimage2out {
    /* right image two zoom out*/
    transition: width 2s;
    animation: rightfixedimage2outzoom 3s ease;
    position: absolute;
    right: 30%;
    width: 0px;
    height: 250px;
    margin-top: 180px;
    z-index: 5;
}


.discoverbutton {
    background-color: black;
    padding: 20px 5px;
    font-size: 14px;
    width: 60%;
    color: white;
    font-weight: 400;
    font-family: 'Muli';
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.discoverbutton:hover {
    background-color: rgb(121, 120, 120);
}

.bottomdivimageswrap {
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 3% 10%;
    display: flex;
}

.bottomhomediv {
    background-image: url("./../assets/home/imageone.jpg");
    background-repeat: no-repeat;
}

.scrollbottomomediv {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 500px;
    margin: 0 auto;
}

.scrollbottomomediv::-webkit-scrollbar {
    display: none;
}

.wrappall {
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
}


.wrappall.hover .imgwrapperimageone {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.imgwrapperimageone {
    height: 100%;
    width: 100%;
    transition: all 4s ease;
    position: relative;
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


.imgwrapperimagetwo {
    width: 500px;
    transition: all .8s ease;
    vertical-align: middle;
    margin: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    animation: buttomimagebottomtotop 3s ease;
    background-image: url("./../assets/home/imageone.jpg");
}

@keyframes buttomimagebottomtotop {
    from {
        height: 0px;
        margin-bottom: -30%;
    }

    to {
        height: 400px;
        margin-bottom: 0%;
    }
}

.sociallinkdiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
}



.gettheappdiv {
    height: 250px;
    margin-top: 50px;
    width: 40%;
    background-image: linear-gradient(to top, rgba(214, 209, 209, 0), rgb(146, 137, 137));
    margin-left: 10%;
    margin-bottom: 200px;
}

.getappdivtext {
   
    font-weight: 500;
    margin-top: 50px;
    font-size: 45px;
    color: white
}

/* .imgwrapperimagetwo:hover {
    transform: scale(1.1);
} */

.wrappall.hover .imgwrapperimagetwo {
    transform: scale(1.1);
}

.wrapimagebuttondescription {
    margin-top: 45%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}



.almostbottomdiv {
    background-color: white;
    padding-top: 20px;
}

.bottomdivfooter {
    background-color: black;
    width: 100%;
    position: absolute;
    padding: 50px 0px 10px 0px;
    animation: buttomfooterbottomtotop 3s ease;
}

@keyframes buttomfooterbottomtotop {
    from {
        padding-top: 200px;
    }

    to {
        padding-top: 50px;
    }
}

.bottomdivfooterout {
    background-color: black;
    width: 100%;
    padding: 50px 0px;
    animation: buttomfootertoptobottom 3s ease;
}

@keyframes buttomfootertoptobottom {
    from {
        padding-top: 50px;
    }

    to {
        padding-top: 200px;

    }
}

.wrapcontents {
    display: flex;
    width: 90%;
    margin: auto;
}

.footercontents {
   
    font-weight: 400px;
    font-size: 20px;
}

.footercontentone {
    width: 30%;
}

.footercontentonetext {
    color: white;
}

.sociallinks {
    display: flex;
}

.footercontentlast {
    position: absolute;
    right: 10%;
}

.footercontentonemail {
   
    font-weight: 700;
    color: white;
    font-size: 14px;
}

.footerreserved {
   
    font-weight: 300;
    color: white;
    font-size: 12px;
}

.footerreservedbuttons {
    background-color: white;
   
    font-weight: 300;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
}


@keyframes right_to_left {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
}

@keyframes left_to_right {
    from {
        margin-left: -30%;
    }

    to {
        margin-left: 5%;
    }
}

@keyframes right_to_leftout {
    from {
        margin-left: 5%;
    }

    to {
        margin-left: -30%;
    }
}


@keyframes left_to_rightt {
    from {
        margin-left: 40%;
        width: 0px;
    }

    to {
        margin-left: 60%;
        width: 400px;
    }
}

@keyframes rightfixedimage2in {
    from {
        margin-left: 40%;
        width: 0px;
    }

    to {
        margin-left: 60%;
        width: 350px;
    }
}

@keyframes rightfixedimageoutzoom {
    from {
        margin-left: 60%;
        width: 400px;
    }

    to {
        margin-left: 40%;
        width: 0px;

    }
}

@keyframes rightfixedimage2outzoom {
    from {
        margin-left: 60%;
        width: 350px;
    }

    to {
        margin-left: 40%;
        width: 0px;

    }
}

.middledivwrap {
    background-color: white;
    margin-top: -30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbarmovein, .navbar {
    display: none;
}



/* mobile view styling*/
@media screen and (max-width: 780px) {
    .headerimageparent {
        width: 50%;
    }

    .headerimageparent img {
        height: 40px;
    }

    .languagediv, .getappbutton, .hoverunderlineanimation, .getappbuttondown {
        display: none;
    }

    .navbar {
        position: absolute;
        display: flex;
        right: -80%;
        width: 100%;
        top: 3px;
        animation: moveoutnavbar 1s ease
    }

    .navbarmovein {
        right: 0%;
        position: absolute;
        display: flex;
        width: 100%;
        top: 3px;
        animation: moveinnavbar 1s ease;
    }

    .navbarcontentmiddle {
        width: 15%;
        height: 800px;
    }

    .navbarcontent {
        width: 100%;
        background-color: #430f0f;
        height: 800px;
    }

    .navbarcontent div {
        cursor: pointer;
        margin: 20px 5px;
        padding: 0px 10px;
        color: silver;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
    }

    .navbarcontent button {
        background-color: black;
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 10px;
        margin: 5px;
        text-align: left;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: silver;
    }

    @keyframes moveinnavbar {
        from {
            right: -80%;
        }

        to {
            right: 0%;

        }
    }

    @keyframes moveoutnavbar {
        from {
            right: 0%;
        }

        to {
            right: -80%;

        }
    }

    .nomoretext {
        font-size: 25px;
        color: #430f0f;
        font-weight: 500;
        position: relative;
        right: 0px;
        width: 40%;
        margin: auto;
        top: 130px;
       
    }

    .nomoretext2 {
        font-size: 25px;
        color: #430f0f;
        font-weight: 400;
        position: relative;
        right: 0px;
        width: 70%;
        margin: auto;
        top: 140px;
       
    }

    .homephone {
        padding-top: 300px;
        padding-left: 5%;
    }

    .homephoneslider {
        position: absolute;
        padding-top: 360px;
        padding-left: 12%;
    }

    .nomoretextbelow {
        font-size: 15px;
        color: #430f0f;
        font-weight: 500;
        position: relative;
        align-self: center;
        right: 0px;
        width: 80%;
        margin: auto;
        top: 150px;
       
    }

    .nomoretextbelow2 {
        font-size: 15px;
        color: #430f0f;
        font-weight: 500;
        position: relative;
        right: 0px;
        width: 40%;
        margin: auto;
        top: 155px;
       
    }

    .applogosparent {
        position: relative;
        margin: 0% 5%;
        right: 0%;
        top: 180px;
        display: flex;
    }

    .middledivwrap {
        background-color: white;
        margin-top: 350px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .rightfixedimage {
        /* right image zoom in*/
        transition: width 2s;
        animation: left_to_rightt 3s ease;
        position: absolute;
        right: 5%;
        height: 200px;
        width: 80%;
    }

    .rightfixedimagehow {
        /* right image zoom in*/
        transition: width 2s;
        animation: left_to_rightt 3s ease;
        position: absolute;
        right: 5%;
        height: 200px;
        width: 80%;
    }

    @keyframes left_to_rightt {
        from {
            margin-left: 40%;
            width: 0px;
        }

        to {
            margin-left: 60%;
            width: 80%;
        }
    }

    .rightfixedimage2 {
        /* right image two zoom in*/
        transition: width 2s;
        animation: rightfixedimage2in 3s ease;
        position: absolute;
        right: 15%;
        height: 200px;
        width: 80%;
        margin-top: 180px;
        z-index: 5;
    }

    .rightfixedimage2out {
        /* right image two zoom out*/
        transition: width 2s;
        animation: rightfixedimage2outzoom 3s ease;
        position: absolute;
        right: 15%;
        width: 0px;
        height: 200px;
        margin-top: 180px;
        z-index: 5;
    }


    @keyframes rightfixedimage2in {
        from {
            margin-left: 40%;
            width: 0px;
        }

        to {
            margin-left: 60%;
            width: 80%;
        }
    }

    @keyframes rightfixedimage2outzoom {
        from {
            margin-left: 60%;
            width: 80%;
        }

        to {
            margin-left: 40%;
            width: 0px;

        }
    }

    .rightfixedimageout {
        /* right image zoom out*/
        transition: width 2s;
        animation: rightfixedimageoutzoom 3s ease;
        position: absolute;
        right: 5%;
        width: 0px;
        height: 200px;
    }

    @keyframes rightfixedimageoutzoom {
        from {
            margin-left: 60%;
            width: 80%;
        }

        to {
            margin-left: 40%;
            width: 0px;

        }
    }


    .iplugdescriptionleft {
        text-align: left;
       
        font-weight: 500;
        width: 90%;
        font-size: 20px;
        margin-left: 5%;
        animation: left_to_right 3s ease;
    }

    .iplugdescriptionleftout {
        text-align: left;
       
        font-weight: 500;
        font-size: 20px;
        width: 90%;
        margin-left: -90%;
        animation: right_to_leftout 3s ease;
    }


    @keyframes left_to_right {
        from {
            margin-left: -90%;
        }

        to {
            margin-left: 5%;
        }
    }

    @keyframes right_to_leftout {
        from {
            margin-left: 5%;
        }

        to {
            margin-left: -90%;
        }
    }

    .discoverbutton {
        background-color: black;
        padding: 20px 5px;
        font-size: 14px;
        width: 90%;
        color: white;
        font-weight: 400;
        font-family: 'Muli';
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .bottomdivimageswrap {
        background-color: white;
        height: 400px;
        width: 100%;
        padding: 3%;
        display: block;
    }

    .wrapmaxresdefault2 {
        width: 95%;
        height: 300px;
        margin: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .gettheappdiv {
        height: 180px;
        margin-top: 250px;
        width: 90%;
        background-image: none;
        margin-left: 5%;
        margin-bottom: 0px;
    }

    .wrapappdiv {
        width: 100%;
    }

    .getappdivtext {
       
        font-weight: 500;
        margin-top: 50px;
        font-size: 30px;
        color: white
    }

    .sociallinkdiv {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 50%;
    }

    .footercontentone {
        width: 100%;
    }

    .wrapcontents {
        display: block;
        width: 90%;
        margin: auto;
    }

    .footercontentlast {
        position: relative;
        right: 0%;
    }

    .footerreserved {
       
        font-weight: 300;
        color: white;
        width: 80%;
        text-align: center;
        margin: auto;
        font-size: 12px;
    }

    .howittext {
        margin-top: 30px;
        color: black;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
       
    }

    .firstdivhow {
        background-image: url("./../assets/home/imageone.jpg");
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        background-size: auto;
        margin-top: 0px;
    }

    .wrapmaxresdefault {
        height: 300px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    .howitworkswrap {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 200px;
        position: absolute;
        z-index: 5;
    }


}